/* variables */
:root {
  --border-width: 0.1em;
  --border-color: black;
  --link-color: blue;
  --border: var(--border-width) solid var(--border-color);
  --link-border: var(--border-width) solid var(--link-color);
  --link-fill: rgba(0, 0, 128, 0.8);
  --overlay-fill: rgba(0, 0, 0, 0.8);
  --link-fade-time: 0.55s;
  --sans-font: 'Open Sans', Arial, Helvetica, sans-serif;
}
/* globals */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'EB Garamond', 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
}
a {
  font-family: var(--sans-font);
  text-decoration: none;
  border-bottom: var(--link-border);
}
img {
  width: 100%;
  object-fit: cover;
}
/* page hero */
#hero {
  background-image: url('/public/img/hero.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  color: white;
}
#hero blockquote {
  font-size: 3vw;
  width: fit-content;
  background-color: var(--overlay-fill);
  border: var(--border);
}
#hero blockquote div {
  font-style: italic;
  text-align: right;
}
#hero aside {
  text-align: right;
  font-style: italic;
  font-size: xx-small;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--overlay-fill);
  border: var(--border);
  margin: 0.15em;
}
/* the stuff glued at the top of the screen */
header {
  background-image: linear-gradient(var(--overlay-fill), var(--overlay-fill)), url(/public/img/hero.jpg);
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999; /* it feels like there should be a better way to do this */
  height: 1.5em;
  margin-bottom: 0.2em;
}
h1 {
  padding-left: 0.25em;
  padding-bottom: 0.1em;
  font-size: x-large;
  font-family: 'Consolas', 'Lucida Console', 'Monaco', 'Courier New', 'Courier', monospace;
}
header nav {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: flex-end;
  border-bottom: var(--border-width) solid white;
}
header nav a {
  color: white;
  border-bottom: none;
}
header nav ul {
  list-style: none;
  display: flex;
}
header nav li {
  font-family: var(--sans-font);
  font-size: small;
  padding: 0.2em 0.5em;
  border: none;
  text-decoration: none;
}
header nav a.active {
  color: var(--link-color);
}
/* hack to get around the stuff being glued on top of the screen not being considered when the browser jumps to relative links on the same page */
.target {
  display: block;
  position: relative;
  top: -1.5em;
  visibility: hidden;
}
/* styling for actual content starts here */
h2 {
  text-align: center;
  font-size: large;
  text-transform: lowercase;
  font-family: var(--sans-font);
  font-weight: lighter;
}
main {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.content-block {
  margin: 0.2em 0;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-top: var(--border);
  width: 100%;
}
/* about_me.txt */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about figure {
  box-shadow: 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.2);
  width: 80%;
  background-color: white;
  margin: 0.8em;
}
#about figcaption {
  padding: 0.1em 0.4em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about figcaption h3 {
  font-family: var(--sans-font);
}
#about figcaption h4 {
  font-family: var(--sans-font);
  font-weight: lighter;
  font-size: small;
}
#about figcaption p {
  font-size: small;
  font-style: italic;
}
#about p {
  padding: 0.3em 1em;
  font-size: x-small;
  text-align: justify;
}
/* look at my stuff */
#work {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#gallery {
  display: grid;
  justify-items: center;
  align-self: center;
  grid-template-columns: repeat(auto-fill, 10em);
  grid-auto-rows: 10em;
  grid-gap: 0;
  grid-auto-flow: dense;
}
/* actual tile styles */
#gallery a {
  display: flex;
  width: 10em;
  height: 10em;
  position: relative;
  overflow: hidden;
}
#gallery figcaption {
  position: absolute;
  right: 0;
  bottom: 0;
  color: white;
  background-image: linear-gradient(to top right, var(--overlay-fill), var(--link-fill));
  text-align: right;
  width: 100%;
  height: 50%;
  padding: 0.2em 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}
#gallery figcaption span {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
#gallery figcaption h3 {
  font-family: var(--sans-font);
  font-weight: lighter;
  font-size: small;
  padding-right: 0.25em;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}
#gallery figcaption i {
  color: var(--link-color);
  padding-right: 0.25em;
}
#gallery figcaption p {
  font-weight: light;
  font-style: italic;
  font-size: x-small;
  padding-right: 1.25em;
}
/* non-standard tile sizes */
#gallery .double {
  width: 20em;
  height: 20em;
  grid-row: span 2;
  grid-column: span 2;
}
#gallery .wide {
  width: 20em;
  height: 10em;
  grid-column: span 2;
}
#gallery .tall {
  width: 10em;
  height: 20em;
  grid-row: span 2;
}
/* like comment subscribe */
#contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#contact figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  color: var(--border-color);
  border-left: var(--link-border);
  border-right: var(--link-border);
}
#contact figure img {
  width: 2em;
}
#contact figcaption {
  display: none;
  padding: 0.1em 0.5em;
  font-family: var(--sans-font);
}
/* only do hover bling if the browser can handle it */
@media (hover: hover) {
  a {
    text-decoration: none;
  }
  header nav {
    border-bottom: var(--border-width) solid white;
  }
  header nav:hover {
    border-bottom-color: var(--link-color);
    transition-duration: var(--link-fade-time);
  }
  header nav ul li a:hover {
    color: var(--link-color);
    transition-duration: var(--link-fade-time);
  }
  #gallery a::after {
    content: '';
    background-color: var(--link-fill);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  #gallery a:hover::after {
    opacity: 1;
    transition-duration: var(--link-fade-time);
  }
  #gallery figcaption {
    z-index: 1; /* on top of figure:hover::after */
  }
  #gallery figcaption p {
    opacity: 0;
  }
  #gallery a:hover figcaption p {
    opacity: 1;
    transition-duration: var(--link-fade-time);
  }
  #contact a {
    color: var(--border-color);
  }
  #contact figure {
    border-color: var(--border-color);
  }
  #contact figure:hover {
    color: var(--link-color);
    border-color: var(--link-color);
    transition-duration: var(--link-fade-time);
  }
}

/* some people don't like black on white */
@media (prefers-color-scheme: dark) {
  :root {
    --border-color: gray;
  }
  body {
    background-color: black;
    color: lightgray;
  }
  #about figure {
    border: 0.1em solid slategray;
  }
  #about figcaption {
    background-color: slategray;
    color: lightgray;
  }
  #gallery figcaption {
    color: lightgray;
  }
  .mono-black {
    filter: invert(100%);
  }
}
/* things get bigger, part 1 */
@media screen and (min-width: 375px) {
  h1 {
    font-size: x-large;
  }
  header nav a {
    font-size: medium;
  }
  h2 {
    font-size: xx-large;
  }
  #about {
    display: inline;
  }
  #about figure {
    float: left;
    width: 12em;
  }
  #gallery {
    grid-template-columns: repeat(auto-fill, 12em);
    grid-auto-rows: 12em;
  }
  #gallery a {
    width: 12em;
    height: 12em;
  }
  #gallery .wide {
    width: 24em;
    height: 12em;
  }
  #gallery .tall {
    width: 12em;
    height: 24em;
  }
  #gallery .double {
    width: 24em;
    height: 24em;
  }
  #gallery figcaption h3 {
    font-size: large;
  }
  #gallery figcaption p {
    font-size: small;
  }
}
/* things get bigger, part 2 */
@media screen and (min-width: 768px) {
  h1 {
    font-size: xx-large;
  }
  header {
    height: 2.25em;
  }
  header nav a {
    font-size: xx-large;
  }
  .target {
    top: -2.25em; /* always -(header.height) */
  }
  #hero aside {
    font-size: small;
  }
  #gallery {
    grid-template-columns: repeat(3, 16em);
    grid-auto-rows: 16em;
  }
  #gallery a {
    width: 16em;
    height: 16em;
  }
  #gallery .wide {
    width: 32em;
    height: 16em;
  }
  #gallery .tall {
    width: 16em;
    height: 32em;
  }
  #gallery .double {
    width: 32em;
    height: 32em;
  }
  #about p {
    font-size: medium;
  }
  #gallery figcaption p {
    font-size: medium;
  }
  #contact figcaption {
    display: unset;
  }
}
/* wide enough to add a superfluous second column to main */
@media screen and (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 1fr 4fr;
  }
  .content-block {
    border-top: none;
    margin-top: 2em;
  }
  .label-block {
    border-right: var(--border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
  }
  h2 {
    text-align: right;
    padding-right: 1em;
  }
}
/* another gallery column */
@media screen and (min-width: 1440px) {
  #gallery {
    grid-template-columns: repeat(4, 16em);
  }
}
