/* variables */
:root {
    --border-width: 0.4em;
    --border-color: black;
    --link-color: blue;
    --link-fill: rgba(0, 0, 255, 0.3);
    --link-fade-time: 0.2s;
    --overlay-fill: rgba(0, 0, 0, 0.75);
    --sans-font: "Open Sans", Arial, Helvetica, sans-serif;
}
/* globals */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "EB Garamond", "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
img {
    width: 100%;
    object-fit: cover;
}
/* https://youtu.be/B4JCehDOy54 */
#hero {
    background-image: url("/assets/images/hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40em;
    position: relative;
    color: white;
}
#hero blockquote {
    font-size: large;
    width: fit-content;
    background-color: var(--overlay-fill);
    text-align: center;
    padding: 0.4em 0.4em;
    border: 0.125em solid var(--border-color);
}
#hero blockquote div {
    font-style: italic;
    text-align: right;
}
#hero aside {
    text-align: right;
    font-style: italic;
    font-size: smaller;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--overlay-fill);
    border: 0.125em solid var(--border-color);
    margin: 0.2em;
}
/* the stuff glued at the top of the screen */
header {
    background-image: linear-gradient(var(--overlay-fill), var(--overlay-fill)), url(../images/hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    position: sticky;
    top: 0;
    z-index: 9999;
    height: 3.5em;
    margin-bottom: 0.2em;
}
h1 {
    padding-left: 0.25em;
    font-size: 3em;
    font-family: "Consolas", "Lucida Console", "Monaco", "Courier New", "Courier", monospace;
}
header nav {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: flex-end;
}
header nav ul {
    list-style: none;
    display: flex;
}
header nav a {
    font-family: var(--sans-font);
    font-size: 2em;
    color: white;
    padding: 0.2em 0.5em;
}
/* hack to get around the stuff being glued on top of the screen not being considered when the browser jumps to relative links on the same page */
.target {
    display: block;
    position: relative;
    top: -3.5em;
    visibility: hidden;
}
/* styling for actual content starts here */
main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}
main h2 {
    justify-self: end;
    font-size: 3em;
    padding-right: 0.1em;
    text-transform: lowercase;
    font-family: var(--sans-font);
    font-weight: lighter;
}
.content-block {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.6em;
    margin: 0.2em;
    border-left: var(--border-width) solid var(--border-color);
}
/* about_me.txt */
#about p {
    padding: 0.4em 3em;
}
#about figure {
    box-shadow: 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.2);
    width: 18em;
    background-color: white;
    float: left;
    margin: 0.8em 0.8em 0.8em 0;
}
#about figcaption {
    padding: 0.1em 0.4em;
    width: 100%;
}
#about figcaption h3 {
    text-align: center;
}
#about figcaption p {
    font-style: italic;
    font-size: smaller;
    text-align: center;
}
/* look at my stuff */
#gallery {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 14em);
    grid-auto-rows: 14em;
    grid-gap: 0;
    grid-auto-flow: dense;
}
/* actual tile styles */
#gallery figure {
    display: flex;
    width: 14em;
    height: 14em;
    position: relative;
    overflow: hidden;
}
#gallery figcaption {
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    background-color: var(--overlay-fill);
    text-align: right;
    width: 100%;
    height: 50%;
    padding: 0.2em 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#gallery figcaption h3 {
    font-family: var(--sans-font);
    font-weight: lighter;
    margin-bottom: 0.1em;
    font-size: larger;
    padding-right: 0.25em;
    font-weight: bold;
    text-transform: uppercase;

}
#gallery figcaption p {
    font-weight: light;
    font-style: italic;
    font-size: smaller;
    padding-right: 1.25em;
}
/* non-standard tile sizes */
#gallery .double {
    width: 28em;
    height: 28em;
    grid-row: span 2;
    grid-column: span 2;
}
#work .wide {
    width: 28em;
    height: 14em;
    grid-column: span 2;
}
#work .tall {
    width: 14em;
    height: 28em;
    grid-row: span 2;
}
/* like comment subscribe */
#contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
#contact figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em 0;
    color: var(--border-color);
    border-left: var(--border-width) solid var(--border-color);
    border-right: var(--border-width) solid var(--border-color);
}
#contact figure img {
    width: 4em;
}
#contact figcaption {
    padding: 0.1em 0.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* can't do hover bling on an iPhone */
@media (hover: hover) {
    a {
        text-decoration: none;
    }
    header nav {
        border-bottom: var(--border-width) solid white;
    }
    header nav:hover {
        border-bottom-color: var(--link-color);
        transition-duration: var(--link-fade-time);
    } 
    header nav ul li a:hover {
        color: var(--link-color);
        transition-duration: var(--link-fade-time);
    }
    #gallery figure::after {
        content: "";
        background-color: var(--link-fill);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
    #gallery figure:hover::after {
        opacity: 1;
        transition-duration: var(--link-fade-time);
    }
    #gallery figcaption {
        z-index: 1;
    }
    #gallery figcaption p {
        opacity: 0;
    }
    #gallery figure:hover figcaption p {
        opacity: 1;
        transition-duration: var(--link-fade-time);
    }
    #contact a {
        color: var(--border-color);
    }
    #contact figure:hover {
        color: var(--link-color);
        border-left-color: var(--link-color);
        border-right-color: var(--link-color);
        transition-duration: var(--link-fade-time);
    }
}
/* should probably give some kind of visual indication you can tap on the tiles in the gallery*/
@media (hover: none) {
    #gallery figure h3 {
        color: var(--link-color);
        text-decoration: underline;
    }
}
/* some people don't like black on white */
@media (prefers-color-scheme: dark) {
    :root {
        --border-color: gray;
    }
    body {
        background-color: black;
        color: lightgray;
    }
    #about figure {
        border: 0.1em solid slategray;
    }
    #about figcaption {
        background-color: slategray;
        color: lightgray;
    }
    #gallery figcaption {
        color: lightgray;
    }
    .mono-black {
        filter: invert(100%);
    }
}
/* things get smaller, pt 1 */
@media screen and (max-width: 1024px){
    main {
        grid-template-columns: 0.8fr 3fr;
    }
    #gallery {
        grid-template-columns: repeat(auto-fill, 12em);
        grid-auto-rows: 12em;
    }
    #gallery figure {
        width: 12em;
        height: 12em;
    }
    #gallery .double {
        width: 24em;
        height: 24em;
    }
    #gallery .wide {
        width: 24em;
        height: 12em;
    }
    #gallery .tall {
        width: 12em;
        height: 24em;
    }
    #gallery figcaption h3 {
        font-size: medium;
    }
    #gallery figcaption p {
        font-size: small;
    }
}
/* should probably ditch the two column layout when it's this narrow */
@media screen and (max-width: 768px) {
    #hero blockquote {
        width: fit-content;
    }
    header {
        height: 2em;
    }
    h1 {
        font-size: 2em;
    }
    header nav ul li a {
        font-size: 1.2em;
    }
    .target {
        top: -2em;
    }
    main {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .content-block {
        margin: 0.2em 0;
        padding-left: 0;
        border-left: none;
        border-top: var(--border-width) solid var(--border-color);
        justify-self: center;
        width: 100%;
    }
    #work {
        display: flex;
        justify-content: center;
    }
    #about figure {
        margin: 0.4em;
        width: 15em;
    }
    #contact {
        border-top: var(--border-width) solid var(--border-color);
    }
    #contact figure {
        border-left: none;
        border-right: none;
        padding-top: 0.4em;
        margin: 0 0.4em;
    }
    #contact figure img {
        width: 3em;
    }
}
/* things get smaller, pt 2 */
@media screen and (max-width: 425px) {
    h1 {
        font-size: 1.175em;
    }
    header {
        height: 1.5em;
    }
    header nav ul li a {
        font-size: medium;
    }
    .target {
        top: -1.5em;
    }
    #gallery {
        grid-template-columns: repeat(auto-fill, 10em);
        grid-auto-rows: 10em;
    }
    #gallery figure {
        width: 10em;
        height: 10em;
    }
    #gallery .double {
        width: 20em;
        height: 20em;
    }
    #gallery .wide {
        width: 20em;
        height: 10em;
    }
    #gallery .tall {
        width: 10em;
        height: 20em;
    }
    #contact {
        flex-direction: column;
    }
    #contact figure img {
        width: 2.5em;
    }
}
/* a couple of slight adjustments so the site doesn't look broken on a potato */
@media screen and (max-width: 320px) {
    #about {
        display: flex;
        flex-direction: column;
    }
    #about figure {
        float: none;
        align-self: center;
    }
}