* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
img {
    width: 100%;
    object-fit: cover;
}

header {
    background-image: url("/assets/images/hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: white;
    /* TODO: figure out how to deal with the part where the top navbar thingy kind of beaks the intra-page links becaause it's "not in the flow" so the links
    are positing the sections right at the top if the navbar didn't exist and cover it up*/
    position: absolute;
    top: 0;
}
header nav {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid white;
    width: fit-content;
    margin-right: 1em;
}
header h1 {
    padding-left: 0.2em;
    font-size: 3em;
    font-family: "Consolas", "Lucida Console", "Monaco", "Courier New", "Courier", monospace;
}
header nav ul {
    list-style: none;
    display: flex;
}
header nav ul li a {
    color: white;
    font-size: 2em;
    padding: 0.2em 0.5em;
    text-decoration: none;
}

#hero {
    background-image: url("/assets/images/hero.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40em;
    position: relative;
    color: white;
}
#hero blockquote {
    font-size: 2em;
    width: 40%;
    min-width: min-content;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 0.4em 0.4em;
}
#hero blockquote em {
    font-size: 3em;
}
#hero blockquote span {
    font-style: italic;
}
#hero aside {
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

main {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(min-content, 2fr);
    align-items: center;
    padding-top: 0.3em;
}
main h2 {
    justify-self: end;
    font-size: 3em;
    padding-right: 0.1em;
}
.content-block {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 0.6em;
    margin: 0.2em;
    max-width: 100%;
    border-left: 1px solid #000;
}
#about p {
    padding: 0.4em 3em;
}
#about figure {
    box-shadow: 0 0.2em 0.4em 0 rgba(0, 0, 0, 0.2);
    width: 18em;
    background-color: white;
    float: left;
    margin: 0.8em 0.8em 0.8em 0;
}
#about figcaption {
    padding: 0.1em 0.4em;
    width: 100%;
}
#about figcaption h3 {
    font-size: 1em;
    text-align: center;
}
#about figcaption p {
    font-style: italic;
    font-size: 0.8em;
    text-align: center;
}
#work {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, 14em);
    grid-auto-rows: 14em;
    grid-gap: 0;
    grid-auto-flow: dense;
}
#work figure {
    display: flex;
    width: 14em;
    height: 14em;
    position: relative;
    overflow: hidden;
}
#work figcaption {
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: right;
    width: 100%;
    height: 50%;
    padding: 0.2em 1em 1em;
}
#work figcaption h3 {
    margin-bottom: 0.1em;
    font-size: 2.5vw;
}
#work figcaption h4 {
    font-weight: lighter;
    font-style: italic;
    font-size: 1.35vw;
}
#work .double {
    width: 28em;
    height: 28em;
    grid-row: span 2;
    grid-column: span 2;
}
#work .wide {
    width: 28em;
    height: 14em;
    grid-column: span 2;
}
#work .tall {
    width: 14em;
    height: 28em;
    grid-row: span 2;
}
#contact {
    margin: 0.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#contact figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em 0;
    color: black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#contact figure img {
    width: 3em;
}
#contact figcaption {
    padding: 0.1em 0.5em;
}

@media (hover: hover) {
    a {
        text-decoration: none;
    }    
    #contact figure:hover {
        color: blue;
        border-bottom: 1px solid blue;
    }
    header nav:hover {
        border-bottom: 1px solid blue;
    } 
    header nav ul li a:hover {
        color: blue;
    }
}
@media screen and (min-width: 1400px){
    /* vw font scaling starts wrecking my layout around here with my lorem titles so we switch to em scaling */
    #work figcaption h3 {
        font-size: 2.2em;
    }
    #work figcaption h4 {
        font-size: 1.2em;
    }
}
@media screen and (max-width: 1024px){
    main {
        grid-template-columns: minmax(auto, 1fr) minmax(min-content, 4fr);
    }
    #work {
        grid-template-columns: repeat(auto-fill, 12em);
        grid-auto-rows: 12em;
    }
    #work figure {
        width: 12em;
        height: 12em;
    }
    #work .double {
        width: 24em;
        height: 24em;
    }
    #work .wide {
        width: 24em;
        height: 12em;
    }
    #work .tall {
        width: 12em;
        height: 24em;
    }
    /* this is probably a good time to stop scaling gallery text based on the viewport because it starts getting too small here */
    #work figcaption h3 {
        font-size: 1.6em;
    }
    #work figcaption h4 {
        font-size: 0.75em;
    }
}
@media screen and (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    #about figure {
        margin: 0.4em;
        width: 15em;
    }
    header h1 {
        font-size: 2em;
    }
    header nav ul li a {
        font-size: 1.2em;
    }
    .content-block {
        margin: 0.2em 0;
        padding-left: 0;
        border-left: none;
        border-top: 1px solid black;
    }
    #contact {
        border-top: 1px solid black;
        width: 100%;
    }
    #contact figure {
        border-left: none;
        border-right: none;
        padding-top: 0.4em;
        margin: 0 0.4em;
    }
}
@media screen and (max-width: 425px) {
    #contact {
        flex-direction: column;
    }
}